*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/.name
searchwindow-debug/build/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.pro
local.properties
t
err
*.sw*
*/*.sw*
*.gitignore
